<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="log4net" version="2.0.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="2.0.0-rc0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.0.0-rc0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.0.0-rc0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.0.0-rc0" targetFramework="net451" />
  <package id="NCrunch.Framework" version="2.13.0.5" targetFramework="net451" />
  <package id="Ninject" version="3.2.3-unstable-012" targetFramework="net451" />
  <package id="Ninject.Extensions.Logging" version="3.2.2.0" targetFramework="net451" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.2.2.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net451" />
</packages>